@{
    ViewData["Title"] = "Hvem er vi?";
}
<h2>@ViewData["Title"]</h2>
<!--
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3> -->

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Autem ea harum tempore non possimus quisquam corporis velit, 
    officiis error beatae neque, at voluptas incidunt, distinctio dicta. Adipisci sequi ad reiciendis.
</p>
