@model hjemmeside2.Models.ViewModels.ViewArticelBlogPost
<div class"container">
        @foreach (var c in Model.articels)
        {
           if(@c.ArticelID == 4)
           {
            <h3>@c.Title</h3>
            <div class="content">
                @c.Body
                <hr />
            </div>
           }
        }
</div>