@{
    ViewData["Title"] = "Hit opgave";
}

<head> 
	<link rel="stylesheet" href="~/css/hit.css"/>
</head>
<h2>@ViewData["Title"]</h2>

<p> Opgaven gik ud på at vi skulle lave H I T via bootstrap. </p>

<div class"container">
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
		
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-3" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
				<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>
			
				<div class="row">
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red" ></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: red"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: green"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1" style="background-color: blue"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
				  <div class="col-md-1"></div>
			</div>	
            
            <div class="row">
				  <div class="col-md-12"></div>
			</div>

			<div class="row">
				  <div class="col-md-12"></div>	  
			</div>


		</div>