@{
    ViewData["Title"] = "Hit opgave";
}

<head> 
	<link rel="stylesheet" href="~/css/hit.css"/>
</head>
<h2>@ViewData["Title"]</h2>

<p> Opgaven gik ud på at vi skulle lave H I T via bootstrap. </p>

<div class"container">
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: blue"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: blue"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: blue"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>	

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				 <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-3 col-sm-3 col-md-3 col-lg-3" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				 <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>
		
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>
			
			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red" ></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: red"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: green"></div>
				  <div class="col-xs-col-2 col-sm-2 col-md-2 col-lg-2"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1" style="background-color: blue"></div>
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>	
            
            <div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>
			</div>

			<div class="row">
				  <div class="col-xs-col-1 col-sm-1 col-md-1 col-lg-1"></div>	  
			</div>


		</div>