@{
    ViewData["Title"] = "Home Page";
}

<h2>Velkommen til denne utrolige hjemmeside</h2>
    <p>Skole opgave </p>

   <div class"container">
        <div class="article col-md-6">
        <article> 
        <h2>Dette er en overskift</h2>        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quasi, 
        eum enim unde amet quod mollitia autem obcaecati sit porro, 
        cupiditate saepe neque reiciendis cumque illo, perferendis minus pariatur voluptates. 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore hic, 
        architecto excepturi, quis veniam illo nihil totam. 
        Similique modi suscipit doloribus, ipsam, et aliquid eos beatae harum nobis fuga, natus? 
        </article>
        </div>

        <div class="aside blog-post col-md-6">
        <aside>
        <h2>Se min dejlig blog</h2> 
           <p>Her skal en oversigt være over mine blogs, når det engang bliver lavet :)</p>
           <p>Virker ikke en skid!!! :(</p>
        </aside>
            </div>
    </div>