@{
    ViewData["Title"] = "Pris oversigt";
}

<head> 
	<link rel="stylesheet" href="~/css/pris.css"/>
</head>
<h2>@ViewData["Title"]</h2>

<p>Dette er en pris oversigt</p>

<div class="container">
<div class="col-xs-4">
    <div class="table-responsive">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th class="col-md-1">Herre</th>
                    <th class="col-md-2">Pris</th>
                </tr>
            </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-2"> vask</td>
                            <td class="col-md-1">1,12kr</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">1,sf</td>
                            <td class="col-md-2">1,001</td>
                        </tr>
                         <tr>
                            <td class="col-md-1">1,sf</td>
                            <td class="col-md-2">1,001</td>
                        </tr>
                    </tbody>
        </table>
    </div>
</div>
  
  <div class="col-xs-4">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th class="col-md-1">Dame</th>
                    <th class="col-md-2">Pris</th>
                </tr>
            </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-2"> vask</td>
                            <td class="col-md-1">1,12kr</td>
                        </tr>
                        
                         <tr>
                            <td class="col-md-1">1,sf</td>
                            <td class="col-md-2">1,001</td>
                        </tr>
                         <tr>
                            <td class="col-md-1">1,sf</td>
                            <td class="col-md-2">1,001</td>
                        </tr>
                    </tbody>
        </table>
    </div>
</div>

<div class="col-xs-4">
    <div class="table-responsive">
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th class="col-md-1">Barn</th>
                    <th class="col-md-2">Pris</th>
                </tr>
            </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-2"> vask</td>
                            <td class="col-md-1">1,12kr</td>
                        </tr>
                        <tr>
                            <td class="col-md-1">1,sf</td>
                            <td class="col-md-2">1,001</td>
                        </tr>
                         
                    </tbody>
        </table>
    </div>
</div>
</div>