@model hjemmeside2.Models.Booking

@{
    ViewData["Title"] = "Book tid";
}
<head> 
	<link rel="stylesheet" href="~/css/bookingcreate.css"/>
</head>

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form action="/Booking/Create" method="POST">
        <div class="form-group">
        <label asp-for= "FirstName "> </label>
        <input id="fornavninput" class="form-control" placeholder = "Indtast dit navn" asp-for="FirstName"> 
            <span asp-validation-for="FirstName" class="text-danger"></span> 
        </div>

        <div class="form-group">
        <label asp-for="LastName "></label>
        <input id="efternavninput" class="form-control" placeholder = "Indtast dit Efternavn" asp-for="LastName"> 
            <span asp-validation-for="LastName" class="text-danger"></span> 
        </div>

        <div class="form-group">
        <label asp-for="Email "></label>
        <input id="emailinput" class="form-control" placeholder = "Indtast dit Email addresse" asp-for="Email"> 
            <span asp-validation-for="Email" class="text-danger"></span> 
       </div>

       <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input id="phonenumberinput" class="form-control" placeholder = "Indtast dit mobilnummer" asp-for="PhoneNumber"> 
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">    
        <label asp-for="DateTimeny "></label>
        <input id="datoinput" class="form-control" placeholder = "Vælge en dato" asp-for= "DateTimeny">
            <span asp-validation-for="DateTimeny" class="text-danger"></span>
        </div>

        <div class="form-group">
         <label asp-for="Tidspunkt"></label><br>
         <input id="tidspunktinput" class="form-control" placeholder = "Vælge Tidspunkt" asp-for="Tidspunkt"> 
            <span asp-validation-for="Tidspunkt" class="text-danger"></span>
         </div>

        <div class="form-group">
         <label asp-for="Combobox"> </label> 
         <select id="comboboxinput" class="form-control" required name="Combobox">
             <option value="">None</option>
             <option value="Herre"> Herre</option>
             <option value="Dame"> Dame</option>
             <option value="Barn"> Barn</option>
         </select>
            <span asp-validation-for="Combobox" class="text-danger"></span> 
        </div>

            <div class="form-group">
           <label asp-for="Comments"></label>
         <textarea id="kommentarinput" rows="3" class="form-control" placeholder = "Skriv en kommentar" asp-for="Comments"> </textarea>
            <span asp-validation-for="Comments" class="text-danger"></span> 
            </div>

        <input type="submit" value="Send">
    </form>

</div>
