@model hjemmeside2.Models.Entities.Booking


  <form asp-for="Booking" action="Edit" method="POST" class="form-horizontal">
        <input class="form-control" type="Hidden" asp-for="ID">

    <legend>Rediger</legend>
    <div class="form-group">          
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="FirstName">
            </div>
        </div>
         <div class="form-group">          
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="LastName">
            </div>
        </div>
         <div class="form-group">          
                <label asp-for="Email" class="col-md-2 control-label"> </label>
                <div class="col-md-4">
                <input class="form-control "asp-for="Email">
            </div>
        </div>
         <div class="form-group">          
                <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="PhoneNumber">
            </div>
        </div>
         <div class="form-group">          
                <label asp-for="DateTimeny" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="DateTimeny">
            </div>
        </div>
    
         <div class="form-group">          
                <label asp-for="Tidspunkt" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="Tidspunkt">
            </div>
        </div>

          <div class="form-group">          
                <label asp-for="Comments" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "asp-for="Comments">
                <br>
                <a class="btn btn-warning" asp-controller="Booking" asp-action="index">Fortryd</a>
                <button type="submit" class="btn btn-success">Update</button>  
            </div>
        </div>
 </form>  
            
