@model hjemmeside2.Models.Entities.Articel

    <form asp-action="Create" asp-controller="Articel" method="POST" class="form-horizontal">
        <h2>Lav en ny artikel</h2>
        <hr />
        <div class="form-group">   
        <label asp-for="Title" class="col-md-1 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Title" class="form-control" placeholder="Title"/>
                
            </div>
        </div>

        <div class="form-group">   
        <label asp-for="Author" class="col-md-1 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Author" class="form-control" placeholder="Forfatter"/>
                
            </div>
        </div>

        <div class="form-group">
        <label asp-for="Body" class="col-md-1 control-label"></label>
            <div class="col-md-8">
                <textarea rows="10" asp-for="Body" class="form-control" placeholder="Indhold"></textarea>
                
                <br> 
                <a class="btn btn-warning" asp-controller="Articel" asp-action="Index">Tilbage til oversigten</a>
                <button type="submit" class="btn btn-success">Create artikel</button>
            </div>
        </div>       
    </form>

