
.col-md-12
{
	height: 30px;
}

.col-md-3
{
	height: 30px;
}


.col-md-1{
	height: 30px;
}

/*
#homebody{
	background-color: brown
}

#containerclass{
	background-color: yellow
}

#wrapper{
	background-color: pink
}
*/