/*body */
#homebody {
		padding-top: 20px;			
        background-color: white;	
}

#wrapper {
	background-color: white;
	width: 100%;
}

/* gør at knapperne i index kommer på en række */
#containerclass {
	width: 75%;
}



#footer {
   position: relative;
    bottom: 0;
    height:100px;
    background: white;
    padding-left: 6%;
}


/* Navbar */
.navbar-inverse {
  background-color:#0E2458;
  border-color: black;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-inverse .navbar-nav .active > a, .navbar-inverse .navbar-nav .active > a:hover, .navbar-inverse .navbar-nav .active > a:focus {
  color: #ffbbbc;
  background-color: #0E2458;
}
.navbar-inverse .navbar-nav .open > a, .navbar-inverse .navbar-nav .open > a:hover, .navbar-inverse .navbar-nav .open > a:focus {
  color: #ffbbbc;
  background-color: #0E2458;
}
.navbar-inverse .navbar-nav .open > a .caret, .navbar-inverse .navbar-nav .open > a:hover .caret, .navbar-inverse .navbar-nav .open > a:focus .caret {
  border-top-color: #ffbbbc;
  border-bottom-color: #ffbbbc;
}
.navbar-inverse .navbar-toggle {
  border-color: #0E2458;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #0E2458;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white;
}

.carousel{
    background: white;
    margin-top: 20px;
    width: 75%;
    margin: auto;
    position: relative;
}

.carousel .item img{
    margin: 0 auto;
}

#underConstruktion{
  height: 700px;
  width: 700px;
}
