@model IEnumerable<hjemmeside2.Models.Entities.BlogPost>
@{ 
    Layout = "_Layout";
}

<h3>Blog</h3>
<hr />

<div class="blog-posts">
    @foreach (var post in Model)
    {
        @Html.Partial("_Post", post)
    
    }
</div>